# Android/Gradle build outputs
/build/
/.gradle/
/app/build/
/app/intermediates/

# Local environment configs
/local.properties

# IDE
/.idea/
*.iml

# Artifacts / misc
*.apk
*.aab
captures/
*.log
.DS_Store
